<div class="container-fluid">
  <div class="row">
    <div class="col-8 mx-auto">
      <mat-card>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Please Enter Value</mat-label>
          <textarea
            matInput
            rows="8"
            [(ngModel)]="enteredValue"
            placeholder="String Value"
          ></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onPostAdded()">
          Save Post
        </button>
      </mat-card>
      <div class="valueDisplay m-3">{{ postValue }}</div>
    </div>
  </div>
</div>


