<div class="post-list mt-3">
  <mat-accordion multi="true" *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title> {{post.title}} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        {{post.content}}
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="posts.length <= 0" class="alert alert-secondary" role="alert">
    No Posts Added Yet!
  </div>
</div>
